.rider/
.idea/
.vs/
.vscode/
Source/ScavengingExpansion/.idea
Source/ScavengingExpansion/bin/*
Source/ScavengingExpansion/obj/*
Source/ScavengingExpansion/ScavengingExpansion.sln.DotSettings.user